body {
	padding: 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	color: #fff;
	background-color: #3c3c3c;
}
h1 {
	text-align: center;
	font-weight: 700;
	font-size: 24px;
	margin: 0px 0px 30px 0px;
}
h1 span {
	border-bottom: 2px solid #fff;
}
.passBody {
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 350px;
	border: 2px solid orange;
	border-radius: 5px;
	box-shadow: inset 0px 0px 10px orange;
}
.passBody__menu {
}
.passBody__options {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.passBody__options label {
	margin: 0px 0px 8px 0px;
}
.passBody__options input,
.passBody__options select {
	margin: 0px 0px 20px 0px;
}
.passBody__outBody {
	display: flex;
	margin: 0px 0px 20px 0px;
}
.passBody__passOut {
	padding: 10px 30px;
	color: black;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: inset 0px 0px 5px black;
}
.passBody__btn {
	width: 50%;
	padding: 10px;
	color: #fff;
	background-color: #000;
	border: 3px solid orange;
	border-radius: 5px;
	cursor: pointer;
}
.passBody__btn:hover {
	background-color: orange;
	border: 3px solid black;
	transition: all 0.3s ease 0s;
}
.passBody__btn_copyTo {
	flex: 0 0 auto;
	margin: 0px 0px 0px 20px;
	width: 35px;
	/* height: 35px; */
	background: url("../img/ftcopy.svg") center no-repeat;
}
